<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

<form class="form-narrow form-horizontal" method="post" th:action="@{/signup}" th:object="${signupForm}">
    <!--/* Show general error message when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${signupForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">
            Alert
        </div>
    </th:block>
    <fieldset>
        <legend>Регистрация</legend>

        <div class="form-group" th:classappend="${#fields.hasErrors('surname')}? 'has-error'">
            <label for="surname" class="col-lg-2 control-label">Фамилия</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" id="surname"
                       placeholder="Введите фамилию" th:field="*{surname}"/>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('surname')}? 'has-error'">
            <label for="name" class="col-lg-2 control-label">Имя</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" id="name"
                       placeholder="Введите имя" th:field="*{name}"/>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('surname')}? 'has-error'">
            <label for="middleName" class="col-lg-2 control-label">Отчество</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" id="middleName"
                       placeholder="Введите отчество" th:field="*{middleName}"/>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
            <label for="email" class="col-lg-2 control-label">Email</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" id="email" placeholder="Email address" th:field="*{email}"/>
                <span class="help-block" th:if="${#fields.hasErrors('email')}"
                      th:errors="*{email}">Incorrect email</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
            <label for="password" class="col-lg-2 control-label">Пароль</label>

            <div class="col-lg-10">
                <input type="password" class="form-control" id="password" placeholder="Пароль"
                       th:field="*{password}"/>
                <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('retypePassword')}? 'has-error'">
            <label for="password" class="col-lg-2 control-label">Повторите пароль</label>
            <div class="col-lg-10">
                <input type="password" class="form-control"
                       id="retypePassword" placeholder="Повторите пароль"
                       th:field="*{retypePassword}"/>
                <span class="help-block" th:if="${#fields.hasErrors('retypePassword')}"
                      th:errors="*{retypePassword}">Incorrect password</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Зарегистрироваться</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <p>Уже есть регистрация? <a href="signin" th:href="@{/signin}">Вход</a></p>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>